# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
*.DotSettings.user

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
*.binlog

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!packages/build/

# MAUI / Xamarin
*.apk
*.aab
*.ipa
*.app/
*.dSYM/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
